/*  
Theme Name:kaffematthews.net
Theme URI:http://kaffematthews.net/
Description:Theme for kaffematthews.net
Version:1.0
Author:Peter Edwards
Author URI:http://e-2.org/
*/


/**
 * kmdotnet.css
 * styles used in kaffematthews.net
 * incorporates som kubrick (wordpress) and monobook (mediawiki) styles
 * @author Peter Edwards <tech@e-2.org>
 * version 1.0
*/

body {
  font-size:76%;
  /*font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;*/
  font-family:Arial, Verdana, Helvetica, Sans-Serif;
  background:#cbb111 url(/images/bg/skin.jpg) repeat center top;
  color:#333;
  text-align:center;
  line-height:1.5em;
  margin:0 0 20px 0;
  padding:0; 
}

#page {
  background: url(/images/bg/st60.png) repeat center top;
  text-align:left;
  margin:0 auto;
  padding:20px 0 50px 0;
  width:1000px;
}

#content {
  font-size:1.2em;
  float:left;
  padding:0 0 20px 30px;
  margin:0;
  width:720px;
}

#footer {
  padding:0;
  margin:0;
  width:960px;
  clear:both;
}
#footer p {
  margin:0;
  padding:20px 0;
  text-align:center;
}

#sidebar {
  font:1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
  padding:20px 0 10px 0;
  margin-left:780px;
  width:190px;
}

/* general text styles */
small {
  font-family:Arial, Helvetica, Sans-Serif;
  font-size:0.9em;
  line-height:1.5em;
}
h1, h2, h3 {
  /*font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;*/
  font-family:Arial, Verdana, Helvetica, Sans-Serif;
  font-weight:bold;
  padding:0;
  margin:30px 0 0;
}
h1, h2.page-title {
  font-size:1.8em;
}
h2 {
  font-size:1.5em;
}
h3 {
  font-size:1.3em;
}
code {
  font:1.1em 'Courier New', Courier, Fixed;
}
acronym, abbr, span.caps {
  font-size:0.9em;
  letter-spacing:.07em;
  cursor:help;
  border-bottom:1px dashed #999;
}
blockquote {
  margin:15px 30px 0 10px;
  padding-left:20px;
  border-left:5px solid #ddd;
}
blockquote cite {
  margin:5px 0 0;
  display:block;
}
.center {
  text-align:center;
}
hr {
  display:none;
}
a img {
  border:none;
}

/* link styles */
a, h2 a:hover, h3 a:hover {
  color:#c60;
  text-decoration:none;
}

a:hover {
  color:#F00;
  text-decoration:underline;
}
/* end link styles */

/* sidebar styles */
#sidebar form {
  margin:0;
}
#sidebar h2 {
  font-family:Verdana, Sans-Serif;
  font-size:1.2em;
}
#sidebar h2 {
  margin:5px 0 0;
  padding:0;
}
/* sidebar menu */
#km-menu, #sidebar .widget_nav_menu ul {
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:bold;
}
#sidebar .widget_nav_menu ul {
  padding-top:48px;
}
#km-menu li, #sidebar .widget_nav_menu ul li {
  margin:0;
  padding:2px 0;
}
#km-menu li.spaceabove, #sidebar .widget_nav_menu ul li {
  padding-top:14px;
}
#km-menu li a, #km-menu li a:hover,
#sidebar .widget_nav_menu ul li a,
#sidebar .widget_nav_menu ul li a:hover {
  font-weight:bold;
  text-decoration:none;
}
/* works list styles */
ul#works-list {
  margin:20px 0;
}
ul#works-list li {
  background:#f0eabf;
}
ul#works-list li a.worktitle {
  display:block;
  font-weight:bold;
  font-size:1.2em;
  text-align:left;
  padding:10px;
  margin:2px 0;
  background:#f0eabf;
  color:#c60;
}
ul#works-list li a.worktitle:hover {
  text-decoration:none;
  background:#fff;
  color:#f00;
}
div.ajaxcontent {
  padding:0 10px;
}
/* blog styles */
h2.news-title {
    border-left:8px solid #f93;
    border-bottom:1px solid #f93;
    padding-left:12px;
}

p img {
  padding:0;
  max-width:100%;
  height:auto;
}

/*  Using 'class="alignright"' on an image will (who would've
  thought?!) align the image to the right. And using 'class="centered',
  will of course center the image. This is much better than using
  align="center", being much more futureproof (and valid) */

#content div.aligncenter, #content img.aligncenter, #content img.centered {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
img.alignright {
  padding:4px;
  margin:0 0 2px 7px;
  display:inline;
}
img.alignleft {
  padding:4px;
  margin:0 7px 2px 0;
  display:inline;
}
.alignright {
  float:right;
}
.alignleft {
  float:left
}

/* Lists */

ul {
  margin:0;
  padding:0;
  list-style:none;
} 
ul li {
  list-style:none;
  margin-left:10px;
}


/* Form Elements */
#searchform {
  margin:10px 0;
  padding:5px 0; 
}
#sidebar #searchform #s {
  width:108px;
  padding:2px;
  border:1px solid #ede3ae;
  float:left;
}
#sidebar #searchform br {
  display:none;
}
#sidebar #searchsubmit {
  padding:1px;
  border:0;
}


/* set text colour for menus on different sites */
#km-menu.sharky li a {
    color:#404361;}
#km-menu.sharky li a:hover {
    color:#5D6285;}

#km-menu.stars li a {
   color:#404361;}
#km-menu.stars li a:hover {
   color:#5D6285;}

/* wordpress styles */
.post {
  margin:0 0 40px;
}
.post hr {
  display:block;
  border:0 !important;
  height:1em;
}
.postmetadata {
  padding-top:5px;
  clear:left;
}
.entry p {
  font-size:1.05em;
  text-align:justify;
}
.entry {
  line-height:1.4em;
}
.postmetadata {
  text-align:center;
}
.alt {
  background-color:#f8f8f8;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.subpage-link {
  float:right;
  text-align:right;
}
.entry p a:visited {
  color:#b85b5a;
}
h3.comments {
  padding:0;
  margin:40px auto 20px ;
}
.commentlist li, #commentform input, #commentform textarea {
  font:0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li {
  font-weight:bold;
}
.commentlist cite, .commentlist cite a {
  font-weight:bold;
  font-style:normal;
  font-size:1.1em;
}
.commentlist p {
  font-weight:normal;
  line-height:1.5em;
  text-transform:none;
}
#commentform p {
  font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentmetadata {
  font-weight:normal;
}
.postmetadata ul, .postmetadata li {
  display:inline;
  list-style-type:none;
  list-style-image:none;
}
.nocomments, .postmetadata, blockquote, strike {
  color:#777;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
}
select {
  width:130px;
}
#commentform input {
  width:170px;
  padding:2px;
  margin:5px 5px 1px 0;
}
#commentform textarea {
  width:100%;
  padding:2px;
}
#commentform #submit {
  margin:0;
  float:right;
}

/* Begin Comments*/
.alt {
  margin:0;
  padding:10px;
}
.commentlist {
  padding:0;
}
.commentlist li {
  margin:15px 0 3px;
  padding:5px 10px 3px;
  list-style:none;
}
.commentlist p {
  margin:10px 5px 10px 0;
}
#commentform p {
  margin:5px 0;
}
.nocomments {
  text-align:center;
  margin:0;
  padding:0;
}
.commentmetadata {
  margin:0;
  display:block;
}
/* End Comments */

#wp-calendar {
  margin-top:1em;
}